.title {
  text-align: center;
  padding: 1rem 0;
  background-color: #f0f0f0 !important;
  color: #7d8491 !important;
  font-weight: 500 !important;
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase !important;
}
