.title {
  text-align: center;
  padding: 1rem 0;
  background-color: #d3d3d3 !important;
  color: #696969 !important;
  font-weight: 500 !important;
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase !important;
}
