@charset "UTF-8";
@import "~antd/dist/antd.css";

.ant-alert[class*="ant-alert-"] {
  @apply flex items-center my-4;
}

.ant-message-custom-content[class*="ant-message-"] {
  display: flex;
  align-items: center;
}
.ant-alert-message {
  @apply text-primary;
  @apply text-base;
}
.ant-alert-message > b {
  @apply text-primary-dark;
}

.display-container > .ant-col > .ant-row {
  flex-wrap: nowrap;
}
@media screen and (max-width: 575px) {
  .display-container > .ant-col > .ant-row {
    flex-wrap: wrap;
  }
}
.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker:hover,
.ant-picker-focused {
  @apply border-primary-dark shadow-md;
}
.ant-input:hover,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  @apply border-primary;
}

.ant-carousel .slick-slider {
  @apply flex items-center justify-center;
}

.login-register-texture {
  background-image: url("./assets/images/login-register-texture.jpg");
  background-size: contain;
  opacity: 0.3;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.slick-dots.slick-dots-bottom {
  @apply -bottom-10;
}

.ant-carousel .slick-dots li.slick-active button {
  @apply bg-primary;
}

.ant-carousel .slick-dots li button {
  @apply bg-white opacity-100;
}

.ant-carousel .slick-track {
  @apply w-screen;
}
